<classMaker classVarName="module">
    <anno classVarName="moduleAnno"/>
    <extends classVarName="baseModule"/>

    <note>${note}</note>

    <property valueName="activity"
              classVarName="activity"
              modifier="private"/>

    <method methodName="${name}Module">
        <methodParam classVarName="activity" valueName="activity"/>

        <body>
            this.activity = activity;
        </body>
    </method>

    <method returnClassName="presenter" methodName="providePresenter">
        <anno classVarName="activityScope"/>
        <anno classVarName="provides"/>

        <body>
            return new ${name}Presenter();
        </body>
    </method>

    <method returnClassName="context" methodName="provideActivity">
        <anno classVarName="override"/>

        <body>
            return activity;
        </body>
    </method>
</classMaker>